<root>
	<input>
		<!-- Timer inputs, default interval value is 1000ms -->
		<timer name="timer" />
		<timer name="timerveryfast" interval="100"/>
		<timer name="timerfast" interval="500"/>
		<timer name="timerslow" interval="2000"/>
	</input>

	<include path="examples/basic/basic.xml" />
	<include path="examples/image/image.xml" />
	<scene name="Empty scene"></scene>
</root>